@{
    ViewBag.Title = "ManageLists";
}

<h1>Manage Calling Trees</h1>

<div class="row">
    <div class="span6">
        <form>
            <label>List Name:</label>
            <input type="text" class="input-large" />
            <br />
            <input type="submit" value="Create List" class="btn btn-primary btn-large" />
        </form>
    </div>
    <div class="span6">
        <h2>Calling Tree(s):</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Tree Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Family</td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>Friends</td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>Work</td>
                    <td><a href="#">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>