@{
    ViewBag.Title = "Home Page";
}

@section Slider{

    <!-- start: Slider -->
	<div class="slider-wrapper">

		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>Use Signal Flare Anywhere</h2>
				<p>Use your laptop, phone, computer, or tablet to send a Signal Flare to let your friends and family know you're ok.</p>
				<a href="#" class="da-link">Read more</a>
				<div class="da-img"><img src="/content/img/parallax-slider/twitter.png" alt="image02" /></div>
			</div>
            <div class="da-slide">
				<h2>Signal Flare</h2>
				<p>Trying to get in contact with your entire family at once can be quite time consuming in an emergency.</p>
				<a href="#" class="da-link">Read more</a>				
			</div>			
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>
		
	</div>
}			
			<hr>
	
      		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
      		<div class="hero-unit">
				<h3>
					Signal<span>Flare</span> is a web application to rapidly communicate with all of your friends and family in a moments notice.
				</h3>
        		<p><a href="/callingtree/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      		</div>
			<!-- end: Hero Unit -->
      		
			<hr>
			
			<!-- start: Row -->
			<div class="row">
				
				<!-- start: Icon Boxes -->
				<div class="icons-box-vert-container">
                    
					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-ok ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Rapid Communication</h3>
								<p>From any device send a tweet or a text message to notify all of your friends and family know you are ok.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box-->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-cup  ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Best choice</h3>
								<p>We're making this application to help people communicate in a time of need, we're here to help</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->					
				</div>
				<!-- end: Icon Boxes -->
				<div class="clear"></div>
			</div>
			<!-- end: Row -->