@{
    ViewBag.Title = "Invite";
}

<h2>Invite</h2>
<section>
    <p>Invite friends and family to join your calling tree:</p>
    @using (Html.BeginForm())
    {
        <label>Enter email addresses separated by a comma:</label>
        <textarea rows="4" name="EmailAddresses" class="input-xxlarge"></textarea><br />
        <input type="submit" class="btn btn-primary btn-large" value="Send Invites" />
    }
</section>