@{
    ViewBag.Title = "Index";
}

<h2>Manage Tree</h2>
<div class="row">
    <div class="span6">
        <h3>Add Member</h3>
        <form>
            <label>Name:</label>
            <input type ="text" />
            <br />
            <label>Phone:</label>
            <input type="text" />
            <br />
            <label>Email:</label>
            <input type="text" />
            <br />
            <input type="submit" class="btn btn-primary btn-large"/>
        </form>
    </div>
    <div class="span6">
        <table class="table table-striped table-hover">
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
            </tr>
            <tr>
                <td>Josh</td>
                <td>8167299077</td>
                <td>jwaldron@@egov.com</td>
            </tr>
            <tr>
                <td>Curtis</td>
                <td>4119119111</td>
                <td>ccockerham@@egov.com</td>
            </tr>
        </table>
    </div>

</div>